/* App.css (или HomePage.css) */
.ycwidget {
  font-family: Sanday;
  margin-top: 20px; /* Отступ сверху */
  text-align: center; 
  max-width: 80%;
  box-sizing: border-box; 
  padding-right: 80px;
  /* color: #7BA61F; */
}

/* Дополнительные стили для кнопки "Записаться", если это необходимо */
@media (max-width: 768px) {
  /* .ycwidget {
    grid-area: zapis;
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    
  } */

 
  /* .ycwidget {
      display: none;
  } */

}