/* App.css (или HomePage.css) */
#ycwidget {
  font-family: Sanday;
  margin-top: 20px; /* Отступ сверху */
  text-align: center; /* Центрирование по горизонтали */
}

/* Дополнительные стили для кнопки "Записаться", если это необходимо */
