/* .lesson-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px; /* или другая подходящая ширина */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
} */ 

/* .lesson-card-image {
  width: 100%;
  height: 200px; /* или другая подходящая высота */
  /* object-fit: cover; /* чтобы изображение не растягивалось */
  /* border-radius: 4px; */
  /* margin-bottom: 8px; */
/* } */  

.lesson-card-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.lesson-card-description {
  font-size: 0.9em;
  color: #346173;
  margin-bottom: 16px;
}

.lesson-card-faq {
  margin-top: 16px;
  border-top: 1px solid #eee;
  padding-top: 8px;
}

.lesson-card-qa {
  margin-bottom: 8px;
}

.lesson-card-qa p {
  margin: 0;
}


.lesson-card-answer {
  margin-left: 1em; /* небольшой отступ для ответа */
  color: #777;
  text-align: left; 
}



.lesson-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  font-family: Sanday;
}

.lesson-card:hover {
  transform: translateY(-5px);
}

.lesson-card-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.lesson-card h3 {
  font-size: 1.3em;
  color: #031859;
  margin-bottom: 5px;
}

.lesson-card h4 {
  font-size: 0.9em;
  color:#346173;
  margin-bottom: 2px;
}

.lesson-card p {
  
  font-size: 1em;
}

.lesson-card-question {
  cursor: pointer;
  margin-bottom: 0.5em;
  /* font-weight: bold; */
  color:  #346173;
  text-align: left;
  justify-self: start; 
}
.question_arrow {
   display: grid;
   grid-template-columns: auto 1fr;
   grid-gap: 10px;   
   align-items: center;
}

.lesson-card-arrow-icon {
  vertical-align: middle;
  font-size: 1.2em;      /* Увеличить размер стрелочки */
  color: #031859;          /* Изменить цвет стрелочки */
  margin-left: auto;
  justify-self: end; 
  cursor: pointer;
  /* Можно добавить другие стили, например, background-color */
}



.lesson-card-answer {
  margin-left: 1em;
  color:  #346173;
  margin-bottom: 0.5em;
  align-items: left;
  justify-content: space-between; /* Добавлено для размещения элементов по краям */
}